.tableBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 20px;    
}

.buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    gap: 10px;
}

.cellBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 70px;
}