.forgotPasswordBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    gap: 200px;
}

.formBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.passwordContainer {
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 10px;
}