.passwordContainer {
    display: flex;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.googleImg{
    width: 25px;
    height: 25px;
    margin: 0 10px;
}