.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    background-color: #E0E0E0;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    padding: 100px;
}

.linksColumn {
    display: flex;
    flex-direction: column;
}