.formBox {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.field {
    width: 400px;
    height: 45px;
    border-radius: 24px;
}

.button {
    width: 400px;
    height: 45px;
    border-radius: 24px;
}