.profileCard {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: #ffffff;
}

.avatar {
    max-height: 60%;
    max-width: 100%;
    width: auto;
    border-radius: 24px;
}

